// @import "./base.css";
:root {
  --padding-inline: 2.25rem;
}

body {
  // background-color: rgb(16, 24, 40);
}
.main-ctr {
  max-width: 39.5rem;
  margin: auto;
  padding: 1rem;

  h1 {
    text-align: center;
    color: #101211;
  }
}

footer {
  color: #101211;
  background-color: rgb(238, 238, 238);
  padding-block: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}
